@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -- SIDE BAR-- SIDE BAR -- SIDE BAR -- SIDE -- SIDE -- SIDE -- */
main {
    height: calc(100vh - 70px);
    display: flex;
    background-color: #f9f9f9;
}

.no-link-style {
    text-decoration: none;
    color: black;
    cursor: default;
    margin-left: 25 px;
    text-align: center;
}

.box {
    text-align: center;
    display: block;
    height: 30px;
}

.no-link-style:hover {
    background: #e5e5e5;
    background-color: #e5e5e5;
}

.box:hover {
    background-color: #e5e5e5;
}

.side-bar {
    height: 110%;
    width: 17%;
    background-color: rgb(173, 174, 182);
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
}
 
.nav-link span {
    margin-left: 15px;
}
 
.nav-link:hover {
    background: #e5e5e5;
    cursor: pointer;
}
 
.active {
    height: 60px;
    background: rgb(19, 86, 126);
    color: white;
}
/* -- SIDE BAR-- SIDE BAR -- SIDE BAR -- SIDE -- SIDE -- SIDE -- */

/* -- HEADER -- HEADER -- HEADER -- HEADER -- HEADER -- HEADER -- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(173, 174, 182);
    color: rgb(70, 37, 87);
    padding-left: 5px;
}

.drapeau {
    margin-top: 1px;
    margin-bottom: -2px;
    margin-left: 7px;
}

.flag {
    margin-top: 1px;
    margin-bottom: -2px;
    margin-left: 7px;
}

.subscription {
    margin-left: auto;
    padding-right: 5px;
}

#email:hover {
    border: 2px solid rgb(26, 117, 170);
}

/* -- HEADER -- HEADER -- HEADER -- HEADER -- HEADER -- HEADER -- */

/*.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(cosmos.jpg.jpg);
    background-size: cover;
}*/

/* -- BODY -- BODY -- BODY -- BODY -- BODY -- BODY -- BODY -- BODY -- */
body {
    overflow: hidden;
    font-family: 'Bona Nova', sans-serif;
}

.items {
    border: 2px solid rgb(0, 0, 0);
    width: 200px;
    color: white;
    text-align: center;
    
}

.item1, .item2, .item3, .item4 {
    background-color: rgb(19, 86, 126);
    position: absolute;
}

.item1 {
    top: 50px;
    left: 140px;
}

.item2 {
    top: 50px;
    right: 25px;
}

.item3 {
    bottom: 25px;
    left: 140px;
}

.item4 {
    bottom: 25px;
    right: 25px;
}

.item5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(173, 174, 182);
    color: rgb(70, 37, 87);
    text-align: center;
    font-weight: bolder;
    z-index: 0;
    padding: 10px;
}

.item5 h2 {
    font-size: 30px;
    color: rgb(24, 4, 34);
}

.special_relativity {
    position: absolute;
    top: 11%;
    border: 2px solid black;
    background-color: rgb(19, 86, 126);
    width: 700px;
    padding: 10px;
    z-index: 1;
    display: none;
}

.item1:hover .special_relativity {
    display: block;
  }

.general_relativity {
    position: absolute;
    top: 11%;
    left: -180%;
    border: 2px solid black;
    background-color: rgb(19, 86, 126);
    width: 700px;
    padding: 10px;
    z-index: 1;
    display: none;
}

.item2:hover .general_relativity {
    display: block;
  }

.biography {
    position: absolute;
    bottom: 0%;
    border: 2px solid black;
    background-color: rgb(19, 86, 126);
    width: 700px;
    padding: 10px;
    z-index: 1;
    display: none;
}

.item3:hover .biography {
    display: block;
  }

.quotes {
    position: absolute;
    bottom: 0%;
    left: -180%;
    border: 2px solid black;
    background-color: rgb(19, 86, 126);
    width: 700px;
    padding: 10px;
    list-style-position: inside;
    text-align: left;
    z-index: 1;
    display: none;
}

.item4:hover .quotes {
    display: block;
  }



/*
@media all and (min-width: 1280px) {
    .item1:hover, .item2:hover, .item3:hover, .item4:hover {
        width: 50%;
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    .item1:hover, .item2:hover, .item3:hover, .item4:hover {
        width: 60%;
    }   
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
    .item1:hover, .item2:hover, .item3:hover, .item4:hover {
        width: 70%;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .item1:hover, .item2:hover, .item3:hover, .item4:hover {
        width: 80%;
    }
}

@media all and (max-width: 480px) { 
    .item1:hover, .item2:hover, .item3:hover, .item4:hover {
        width: 90%;
    }
}