
body {
    background-color: rgb(252, 208, 182);
}

div {
    border-right: 8px dotted black;
    border-left: 8px dotted black;
    margin: 5px 500px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 35px;
    font-style: italic;
    border-top: 8px dotted black;
    border-bottom: 8px dotted black;
}

.copyright {
    border-bottom: 8px dotted black;    
}

ul {
    list-style-type: none;
    text-align: center;
    /*border: 8px dotted black*/
}

li::first-letter {
    font-size: 140%
}

li::first-letter {
    font-weight: bold;
}   